.headit.clear
  %h4 Select players
  %p drag and drop team members to the pitch
.contain.clear
  %ul.display_roster.clear
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/1.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/2.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/3.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/4.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/1.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/2.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/3.jpg"}/
    %li
      %a{:href => "#"}
        %img{:alt => "avatar", :src => "images/avatars/4.jpg"}/
#pitch
  %a.play_game{:href => "#"} Play game
